<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello{{NAME}}!!!</h1>
    <h2>how are you</h2>
    <h2>i am fine how are you </h2>
    <h2>i am fine i am planning to go to native will you joinn</h2>
    <h2>ofc why not where is your native</h2>
    <h2>my navtive place is {{PLACE}} ITS  a chill place you should visit once</h2>
    <h2></h2>
</body>
</html>