<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            background-color: black;
            color: white;
            text-align: center;
            padding: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 40px;
        }

        h5{
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
        }
      

        .box{
            display: flex;
            font-style: normal;

        }
        .box>img{
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <header>Car Gallery</header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At hic, quod voluptates nesciunt esse facilis perspiciatis natus autem modi reiciendis neque harum tempore delectus numquam dignissimos, amet maiores quia? Labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum asperiores totam dolore in error doloremque sint aspernatur molestiae soluta eos excepturi aperiam iusto alias voluptate voluptatibus placeat iste, recusandae sit esse ipsa consectetur laudantium dolorem reprehenderit! Similique ullam qui maxime quisquam obcaecati, sed exercitationem inventore laboriosam voluptatem sapiente nulla tempore.</p>
    
    <h5>My Cars</h5>
    <ol>
        <li>
            <h2>Name:Ferrari</h2>
            <h4>Model:Ferrari F40</h4>
            <div class="box">

                <img src="https://i.pinimg.com/1200x/6f/d8/07/6fd807cac00dd511d013c5e45e47ec0e.jpg" alt="audi" width="300" height="300"> 
                 <p> <b>FerrariF40: </b>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ad, ipsa ullam tempore atque quae, labore ducimus illum recusandae fugit adipisci quia dolorem architecto provident doloremque, corporis perferendis. Expedita quae veniam impedit rerum, maiores similique molestias dignissimos non incidunt qui?</p>
            </div>

        </li> <hr>
        <li>
            <h2>Name:Porsche</h2>
            <h4>Model:Porsche 911</h4>
            <div class="box">

                <img src="https://i.pinimg.com/736x/78/9e/4d/789e4d1843e77750f48a84c11421c843.jpg" alt="audi" width="300" height="300"> 
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ad, ipsa ullam tempore atque quae, labore ducimus illum recusandae fugit adipisci quia dolorem architecto provident doloremque, corporis perferendis. Expedita quae veniam impedit rerum, maiores similique molestias dignissimos non incidunt qui?</p>
            </div>

        </li> <hr>
        <li>
            <h2>Name:Jaguar</h2>
            <h4>Model:Jaguar F-Type</h4>
            <div class="box">

                <img src="https://i.pinimg.com/736x/5e/c2/47/5ec24725b7a45a156a4c6f4ef8516f2e.jpg" alt="audi" width="300" height="300"> 
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ad, ipsa ullam tempore atque quae, labore ducimus illum recusandae fugit adipisci quia dolorem architecto provident doloremque, corporis perferendis. Expedita quae veniam impedit rerum, maiores similique molestias dignissimos non incidunt qui?</p>
            </div>

        </li> <hr>
        <li>
            <h2>Name:Chevrolet</h2>
            <h4>Model:Chevrolet Corvette</h4>
            <div class="box">

                <img src="https://i.pinimg.com/1200x/d6/35/76/d635768dc92e63406ea6d961bdd8a1ad.jpg" alt="audi" width="300" height="300"> 
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ad, ipsa ullam tempore atque quae, labore ducimus illum recusandae fugit adipisci quia dolorem architecto provident doloremque, corporis perferendis. Expedita quae veniam impedit rerum, maiores similique molestias dignissimos non incidunt qui?</p>
            </div>

        </li> <hr>
        <li>
            <h2>Name:Lamborghini </h2>
            <h4>Model:Lamborghini Huracán</h4>
            <div class="box">

                <img src="https://i.pinimg.com/736x/2d/a4/23/2da4231fd681e6cb78d3a22d3c60fb24.jpg" alt="audi" width="300" height="300"> 
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ad, ipsa ullam tempore atque quae, labore ducimus illum recusandae fugit adipisci quia dolorem architecto provident doloremque, corporis perferendis. Expedita quae veniam impedit rerum, maiores similique molestias dignissimos non incidunt qui?</p>
            </div>

        </li> <hr>
        <li>
            <h2>Name:Mercedes-Benz</h2>
            <h4>Model:Mercedes-AMG GT</h4>
            <div class="box">

                <img src="https://i.pinimg.com/736x/77/85/16/778516db00e032619ea8130e9ab40bdd.jpg" alt="audi" width="300" height="300"> 
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ad, ipsa ullam tempore atque quae, labore ducimus illum recusandae fugit adipisci quia dolorem architecto provident doloremque, corporis perferendis. Expedita quae veniam impedit rerum, maiores similique molestias dignissimos non incidunt qui?</p>
            </div>

        </li>
    </ol>
</body>
</html>